<! DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project page</title>
    </head>
        <body>
            {{> header}}
            <p>
                This is a project page
            </p>

            {{> footer}}
        </body>
    <body>

    </body>

</html>